<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__backInRight" *ngFor="let movie of movies">
        <div>
            <h3 class="text-center ">{{movie.title }} </h3>
        </div>

        <img [src]="movie.poster_path | poster" class="img-fluid poster" (click)="onMovieClick( movie)">

        <div class="row">
            <div class="col-10 yellow">
                <star-rating [value]="movie.vote_average" [totalstars]="10" checkedcolor="yellow" uncheckedcolor="grey" size="12px" [readonly]="false"></star-rating>
            </div>
            <div class="col-2 yellow">
                {{movie.vote_average | number: '1.1-2'}}
            </div>

        </div>
    </div>
</div>